#frontend

rule-engine-ui/node_modules/
rule-engine-ui/build/
rule-engine-ui/.env
rule-engine-ui/.DS_Store
rule-engine-ui/npm-debug.log*
rule-engine-ui/yarn-debug.log*
rule-engine-ui/yarn-error.log*


#backend

rule-engine-backend/env/
rule-engine-backend/venv/
rule-engine-backend/__pycache__/
rule-engine-backend/*.py[cod]
rule-engine-backend/*.sqlite3
rule-engine-backend/*.db
rule-engine-backend/.env
rule-engine-backend/.DS_Store
rule-engine-backend/Thumbs.db



# Common

*.log
*.sqlite3
*.db
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace



.DS_Store
*.swp
*.swo